/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-toMain {
  color: #0087E9;
  text-decoration-line: underline;
}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}
